In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
data=pd.read_csv(Path('./inputs/examples/quantification_table.csv'))
cell_type_id=pd.read_csv( Path('./inputs/examples/cell_type_labels.csv') )
outdir=Path('./outputs/examples')

# Method 1:
requires the quantification table (data) and a previously defined csv table with two columns, 'name' and 'label' (cell_type_id).  The latter is a table that assigns the strings from the column 'name' a numerical value in the 'label' column.

In [3]:
data.sample(5)

,Cell Id,cell_type,Nucleus 3D Volume,Actin,aSMA,CD3e,CD4,CD8,CD11c,CD20,CD31,CD56,CD66b,CD68,Cytokeratin,FOXP3,HLA_DR,Iba1,Mast_Cell_Tryptase
97586,97587,Macrophages,2113,80.131569,148.542358,280.948425,119.314720,291.787506,593.716064,0.680549,41.365829,391.560333,142.732132,238.380508,104.753433,1085.065308,52.381920,3450.481689,34.365356
17369,17370,Endothelial,2151,110.646210,218.118088,513.645752,114.208275,630.321228,625.223145,5.167364,259.798248,372.254303,193.862396,276.664337,76.694557,1851.075806,71.122734,855.888428,46.719200
38694,38695,Cancer cells,3323,115.177246,170.158585,222.653625,163.535660,501.601562,352.299438,4.529943,13.706289,319.034912,29.485104,333.157990,1080.899780,1045.555176,104.601868,325.999084,40.960880
28964,28965,ungated,1350,45.971851,166.769623,86.672592,93.612595,197.418518,462.186676,4.143704,12.929629,863.248901,16.244444,148.553329,70.340744,753.131836,47.386665,419.377045,21.157038
79557,79558,Cancer cells,3989,37.465031,257.475800,224.136627,130.282028,221.642517,292.786652,0.709200,44.702183,401.272247,38.477562,290.810730,658.823242,557.374512,41.907497,520.664856,36.157684

In [4]:
cell_type_id

            name  label
0        B cells      0
1   CD4+ T cells      1
2   CD8+ T cells      2
3   Cancer cells      3
4            DCs      4
5    Endothelial      5
6    Fibroblasts      6
7   Granulocytes      7
8    Macrophages      8
9     Mast cells      9
10      NK cells     10
11     NKT cells     11
12       T cells     12
13          Treg     13
14       ungated     14

In [97]:
data['cell_label']=np.nan
for cell_type,label in zip(cell_type_id['name'],cell_type_id['label']):
    data.loc[data['cell_type']==cell_type,'cell_label']=label
data['cell_label']=data['cell_label'].astype(int)
data.drop(columns=['Cell Id','cell_type'],inplace=True)
data.rename(columns={'Nucleus 3D Volume':'cellSize'},inplace=True)
data.sample(5)

,cellSize,Actin,aSMA,CD3e,CD4,CD8,CD11c,CD20,CD31,CD56,CD66b,CD68,Cytokeratin,FOXP3,HLA_DR,Iba1,Mast_Cell_Tryptase,cell_label
90631,1348,53.163948,243.877594,319.405029,180.473297,532.697327,612.336060,7.118694,51.196587,725.281128,84.512611,248.348663,1747.077881,2554.299072,62.295994,390.672119,54.641693,3
104702,956,87.789749,188.486404,275.648529,163.835770,617.729065,873.446655,4.424686,48.720711,770.132874,188.259415,279.570099,998.219666,959.029297,62.303349,337.371338,52.682007,3
33476,957,285.318695,172.599792,179.766983,160.432602,231.540237,17421.677734,99.529778,22.300940,730.054321,13.510972,430.601868,76.970741,837.263306,224.171371,5394.724121,32.690701,8
65631,1543,183.736221,202.670120,238.023987,120.723267,347.231354,3581.573486,41.542450,29.387556,423.257935,11.017498,363.589752,78.489304,1228.787476,172.101105,4999.655762,29.348671,8
94903,1923,26.357775,150.689026,251.928757,114.406136,322.579315,436.147156,1.380135,41.882996,491.351013,69.328651,181.560059,291.062927,1062.247559,34.802391,311.678101,37.432659,14

In [98]:
check_nan = data['cell_label'].isnull().values.any()
check_nan

False

In [99]:
data.to_csv(outdir / 'maps_formatted_table.csv',index=False)

# Method 2:
Requires only the quantification table (data).  It will produce the cell_type_id table mentioned above.

In [100]:
data=pd.read_csv(Path('./inputs/examples/quantification_table.csv'))
data['cell_type'] = data['cell_type'].astype(str)
data['cell_label'] = data['cell_type'].astype('category').cat.codes
cell_label_dict = dict(enumerate(data['cell_type'].astype('category').cat.categories))
data.drop(columns=['Cell Id','cell_type'],inplace=True)
data.rename(columns={'Nucleus 3D Volume':'cellSize'},inplace=True)
data.sample(5)

,cellSize,Actin,aSMA,CD3e,CD4,CD8,CD11c,CD20,CD31,CD56,CD66b,CD68,Cytokeratin,FOXP3,HLA_DR,Iba1,Mast_Cell_Tryptase,cell_label
60510,2940,96.314964,156.524490,295.328583,144.788101,388.872437,222.562592,4.352381,20.918367,355.227539,56.623810,184.587418,1004.253723,1310.061890,47.051361,220.619720,29.659864,3
22148,2451,43.711548,120.438187,243.454514,92.948593,300.753967,484.849030,8.092615,16.796410,378.738068,3.511628,153.441040,72.419014,986.466370,53.945736,251.944916,41.253773,14
90071,3822,34.142334,209.285721,240.826538,124.680794,249.556519,271.879395,0.791470,38.489796,304.664062,85.766090,204.754837,461.253265,878.897949,33.559654,244.553635,33.782051,3
125147,3339,68.406708,493.784363,252.188385,135.377655,524.253662,405.528900,5.751722,57.262054,471.696014,123.868523,823.372253,656.872986,831.018860,62.763702,1248.195923,41.955376,3
12928,1113,117.764603,250.192276,444.428558,132.151840,1081.350464,1755.951538,7.328841,18.003593,923.369263,2804.664795,627.779846,813.952393,2704.434814,105.672058,1764.522949,71.579514,7

In [101]:
cell_label_dict_inv = {v: k for k, v in cell_label_dict.items()}
cell_label_dict_inv

{'B cells': 0,
 'CD4+ T cells': 1,
 'CD8+ T cells': 2,
 'Cancer cells': 3,
 'DCs': 4,
 'Endothelial': 5,
 'Fibroblasts': 6,
 'Granulocytes': 7,
 'Macrophages': 8,
 'Mast cells': 9,
 'NK cells': 10,
 'NKT cells': 11,
 'T cells': 12,
 'Treg': 13,
 'ungated': 14}